---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;

// Definir los iconos como clases de Font Awesome
const iconClasses = {
  twitter: "fa-brands fa-twitter",
  facebook: "fa-brands fa-facebook",
  linkedin: "fa-brands fa-linkedin",
  github: "fa-brands fa-github",
};

// Obtener la clase del icono según el título
const iconClass = iconClasses[title.toLowerCase()];
---

<div class="buttons">
  <li>
    <a href={href} target="_blank" rel="noopener noreferrer">
      {iconClass && <i class={iconClass} style="margin-right: 8px;" />}
      {title}
    </a>
  </li>
</div>

<style>
  .buttons li {
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1f2937;
    color: var(-);
    font-size: 1.1rem;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;
    list-style: none;
  }

  .buttons li:hover {
    background-color: #374151;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
</style>
